*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


header{
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: center bottom;
  background-size: cover;
}

.heading{
  padding: 20px 0 0 20px;
  color: gray;
