*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


header{
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: center bottom;
  background-size: cover;
}

.heading{
  padding: 20px 0 0 20px;
}

.content{
  width: 840px;
  margin: 50px auto;
}

.content-item{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(221, 221, 221);
}