*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* リスト */
main{
  width: 960px;
  margin: 50px auto;
}

.list-item{
  margin-bottom: 50px;
}

.list-text{
  padding: 20px;
  list-style: none;
}

.list-text:nth-child(odd){
  background-color: rgb(228, 228, 228);
}


/* ボックス */
.boxes{
display: flex;
flex-wrap: wrap;
}

.box{
  height: 200px;
  width: 30%;
  margin-bottom: 40px;
  background-color: yellow;
}

.box:nth-child(1){
  margin-right: 5%;
  background-color: orange;
}

.box:nth-child(2){
  margin-right: 5%;
}


.box:nth-child(4){
  margin-right: 5%;
}

.box:nth-child(5){
  margin-right: 5%;
  background-color: orange;
}


.box:nth-child(7){
  margin-right: 5%;
  margin-bottom: 0px;
}

.box:nth-child(8){
  margin-right: 5%;
  margin-bottom: 0px;
}

.box:nth-child(9){
  margin-bottom: 0px;
  background-color: orange;
}
